<!DOCTYPE html>
<html>
<head>
    <title>example</title>
    <link rel="stylesheet" href="/stylesheet/index.css" />
</head>
<body>
    <form action="/doc/uploading" method="post" enctype="multipart/form-data">
        <input name="image" type="file" />
        <input name="firstname" type="text" />
        <input type="submit" />
    </form>
</body>
</html>
